## .NET Core
bin/
obj/

## Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates
*.ntvs*
*.njsproj
*.dbmdl
*.jfm
*.pfx
*.publishsettings

## VS Code
.vscode/

## Rider
.idea/
_ReSharper*/
*.[Rr]e[Ss]harper

## User-specific files
*.rsuser
*.dtbcache.json

## Published output
publish/
out/

## .NET Scaffolding
ScaffoldingReadMe.txt

## DataProtection Keys
DataProtection-Keys/

## Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Environment Files
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
appsettings.Development.json
**/Properties/launchSettings.json

## Dependencies
wwwroot/lib/
node_modules/

## Test and Coverage
TestResults/
coverage/

## Lock files
global.json.lock
dotnet-tools.json.lock
